
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
background-color: rgba(0, 0, 0, 0.931);
padding-top: 20px;
}



.login {
padding-top: 3%;
  margin: auto;
  width: 90%;
  height: 85vh;

  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
 padding-bottom: 40px;
 border: solid 0.3rem white;
 border-radius: 70px;
 
}
.login h2 {
  font-size: 1.6em;
  color: #fff;
}
p{
  color: white;
}


.links {
 
 gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
 
}
.links .facebook {
  color: #fff;
  text-decoration: none;
  background: linear-gradient(45deg, #3546ff, #c0ff72);
 padding: 12px ;
 color: black;
font-weight: 700;
border-radius: 30px;

}
.links .instgram {
  color: #fff;
  text-decoration: none;
  background: linear-gradient(45deg,rgb(188, 11, 44), #c0ff72);
 padding: 12px ;
 color: black;
font-weight: 700;
border-radius: 30px;
font-weight: bolder;
}
